<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles2.css">
</head>
<body>
 
 <!--NAVBAR-->
 <header>

  <nav>
    <h1 class="logo">Canezin AUTOMOTIVE</h1>
    <ul class="nav-list">
      <li class="logo-link">Início</li>
      <li class="logo-link">Sobre</li>
      <li class="logo-link">Veículos</li>
      <li class="logo-link">Contato</li>
    </ul>
    <!--Linhas menu-->
    <div class="menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

  </nav>

 </header>
 


 <div class="container">
           <!--Card 1-->
           <div class="card card-1">
            <!--card-header-->
            <div class="card-header">
              <a href="/produtos/<%= produto.id %>">
                <img
                  src="/<%= produto.imagem %>"
                  class="card-img"
                  alt="IMG-1 Onix Sedan"
                />
              </a>
            </div>
            <!--/card-header-->
    
            <!--card-body-->
            <div class="card-body">
              <h3 class="card-local"><%= produto.nome %></h3>
              <h2 class="carda-titulo"><%= produto.preco %></h2>
              <p><%= produto.descricao %></p>
            </div>
            <!--/card-body-->
    
            <!--card-footer-->
            <div class="card-footer">
              <a href="/produtos">Ver mais</a>
            </div>
            <!--/card-footer-->
          </div>
          <!--/Card 1-->

</body>
</html>